@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
    background: url(../imgs/maria.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Dosis', sans-serif;
}

