@import url('https://fonts.googleapis.com/css?family=Dosis');

html * {
    max-height: 1000000px;
}

html {
    scroll-behavior: smooth;
}

body {
    background: url(../imgs/maria.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Dosis', sans-serif;
}

label {
    color: white;
    font-size: 1.2em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.row {
    text-align: center;
    padding-top: 1rem;
}

#containerRes {
    margin-top: 5vh;
    min-height: 0px;
    display: none;
}

#loader {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(to right, rgb(5, 97, 5), rgb(78, 209, 17)); */
    background-image: linear-gradient(to bottom, rgb(30, 197, 0),rgb(243, 247, 0), rgb(223, 0, 0));
    z-index: 2;
    text-align: center;
}

#divImgLoader {
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#formInicio {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(30, 197, 0),rgb(243, 247, 0), rgb(223, 0, 0));
    z-index: 1;
}

#progress {
    border-bottom: 5px solid rgb(78, 209, 17);
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.divLabelForm label {
    color: black;
}

.divSpanForm span {
    color: red;
    font-size: 1.3rem;
    font-weight: bold;
    visibility: hidden;
}

input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

#divMain {
    display: none;
}