@import url('https://fonts.googleapis.com/css?family=Dosis');


html {
    scroll-behavior: smooth;
}

body {
    background: url(../imgs/maria.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Dosis', sans-serif;

    /* EVITAR QUE EL USUARIO PUEDA SELECCIONAR TEXTO */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label {
    color: white;
    font-size: 1.2em;
}

h3 {
    color: gray;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.row {
    text-align: center;
    padding-top: 1rem;
}

#containerRes {
    margin-top: 5vh;
    min-height: 0px;
    display: none;
}

#loader {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 30%, rgba(40,167,69,1) 100%);
    z-index: 5;
    text-align: center;
}

#divImgLoader {
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
}

#formInicio {
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* opacity: 0.7; */
    /* background-image: linear-gradient(to bottom, rgb(30, 197, 0),rgb(243, 247, 0), rgb(223, 0, 0)); */
    /* background-image: linear-gradient(to bottom, #2E7F20, #D0C955, #A23933);         */
    background-image: linear-gradient(to right, #6A9113, #141517);          
    z-index: 4;
}

#progress {
    border-bottom: 5px solid rgb(78, 209, 17); 
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

.divLabelForm label {
    color: black;
}

.divSpanForm span {
    color: red;
    font-size: 1.2em;
    background-color: gray;
    border: 1px solid red;
    border-radius: .25rem;
    padding-left: 10px;
    padding-right: 10px;
    visibility: hidden;
}

input[type=checkbox], input[type=radio] {
    vertical-align: inherit;
    position: relative;
    bottom: 1px;
}

#divMain {
    display: none;
}

/* #iBackToTop {
    position: fixed;
    bottom: 15px;
    right: 25px;
    display: inline-block;
    cursor: pointer;
} */

#spanDivBackToTop {
    z-index: 4;
    color: rgb(30, 197, 0);
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    visibility: hidden;
    position: fixed;
    bottom: 15px;
    right: 25px;
    display: inline-block;
    cursor: pointer;
}

#spanDivBackToTop:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.spanSearch {
    color: white;
}

::-webkit-scrollbar { 
    overflow: hidden;
    display: none; 
}

.favoritesColor {
    color: green;
}

.cursorPointer {
    cursor: pointer;
}

.tab-pane {
    z-index: 1;
}

.nav-tabs {
    z-index: 2;
    border-bottom: 0;
    background-color: #000000;
}

a {
    color: white;
}

a:hover {
    color: rgb(30, 197, 0);
}

#footer {
    margin-bottom: 0;
    text-align: center;
    background-color: #000000;
}

#aTwitter, #aGithub {
    color: white
}

#aTwitter:hover {
    color: #1dcaff;
}

#aGithub:hover {
    color: lightgray;
}

hr {
    background-color:gray;
}

.linkGreen {
    color: rgb(30, 197, 0); 
    cursor: pointer;
}

.jumbotron {
    border-radius: 0;
}

@media (max-width: 576px) { 
    body {
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 30%, rgba(40,167,69,1) 100%);               
    }
}
